<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Era Times for {{ network_name }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<table border=1 style="alignment: center">
    <caption>Estimated future era times for {{ network_name }} network</caption>
    <tr>
        <th>Era ID</th>
    {% for time_zone in time_zones %}
        <th>{{ time_zone }}</th>
    {% endfor %}
    </tr>
    {% for era_row in era_data %}
    <tr>
        {% for field in era_row %}
        <td>{{ field }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

</body>
</html>
