<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Genesis account.toml summary</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<p>From git hash: {{ hash }}</p>
<p>Total Supply: {{ total_supply }}</p>
<table border=1 style="float: left">
    <tr>
        <th>Validator Public Key</th>
        <th>Bonded Amt</th>
        <th>Delegation Rate</th>
        <th>Delegated Amt</th>
        <th>Total Weight</th>
        <th>Weight Pct</th>
    </tr>
    {% for d in validators %}
    <tr>
        <td><a href="./genesis/{{ d[0] }}">{{ d[0] }}</a></td>
        <td>{{ d[1] }}</td>
        <td>{{ d[2] }}</td>
        <td>{{ d[3] }}</td>
        <td>{{ d[4] }}</td>
        <td>{{ d[5] }}%</td>
    </tr>
    {% endfor %}
</table>

<table border=1 style="float: left">
    <tr>
        <th>Account Public Key</th>
        <th>Balance</th>
    </tr>
    {% for d in accounts %}
    <tr>
        <td>{{ d[0] }}</td>
        <td>{{ d[1] }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
