<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Debug Info Keys</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
Upload debug info from node:
<pre>
sudo logrotate -f /etc/logrotate.d/casper-node
curl -sSf https://cnm.casperlabs.io/static/debug_upload_script.sh | bash
</pre>

<table border=1 style="float: left" width="90%">
    <caption>Debug Info Public Keys</caption>
    <tr>
        <th width="70%">Public Key Hex</th>
        <th>Archive Data</th>
        <th>Last data upload</th>
    </tr>
    {% for key, time in key_times %}
    <tr>
        <td width="70%"><a href="/view_debug_info/{{ key }}">{{ key }}</a></td>
        <td><a href="/archive_debug_info/{{ key }}">Archive</a></td>
        <td>{{ time }}</td>
    </tr>
    {% endfor %}
</table>


</body>
</html>
